* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  font-family: American Typewriter, serif;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: lightgrey;
}

.id {
  font-size: 10.5px;
}

section {
  align-items: center;
  text-align: center;
}

h1, h2, h3, code, label{
  align-items: center;
  text-align: center;
  color: #479133;
  font-family: American Typewriter, serif;
}

h1, h2{
  color: #25803d;
}

body { 
  background-color: #64c24a; }

input, textarea {
  background-color: #30bf56;
}

button {
  background-color: #30bf56
}

